:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
}
/* End CSS Reset */

/* header */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
  gap: calc(var(--default-padding) * 4);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) * 2);
  }
}
.botton {
  background-color: var(--color-soft-blue);
  border-radius: var(--default-radius);
  padding: 1.2rem 2.4rem;
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
}
.button-disabled {
  background-color: var(--color-grayish-blue);
  cursor: not-allowed;
}
.button-secondary {
  background-color: var(--color-off-white);
  color: var(--color-very-dark-blue);
  user-select: none;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--default-padding);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) / 2);
    font-size: 1.4rem;
  }
}
.logoContent {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;

  &__logo {
    width: 4rem;
    max-width: 100%;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: var(--default-padding);

  @media (max-width: 600px) {
    gap: calc(var(--default-padding) / 2);
  }

  &__link {
    color: var(--color-very-dark-blue);
    transition: var(--timing-animation);

    &:hover {
      color: var(--color-soft-red);
    }
  }
}
/* End header */

/* secrion */
.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding));

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &--one-column {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &:nth-of-type(1) &__title {
    font-size: 4.2rem;
  }
  &__description {
    font-size: 1.4rem;
    color: var(--color-grayish-blue);
    .section--one-column & {
      max-width: 50rem;
      text-align: center;
    }
  }
  &__buttons {
    display: flex;
    gap: var(--default-padding);
    margin-top: var(--default-padding);
  }
  &__botton:not(.card__button) {
    @media (max-width: 600px) {
      text-align: center;
      flex: 1;
    }
  }
  &__imageContent {
    display: flex;
    flex: 1;

    @media (max-width: 600px) {
      order: -1;
    }
  }
  &__image {
    max-width: 100%;
  }
}
.secrion__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: calc(var(--default-padding) / 2);
}
.section__title {
  font-size: 2.4rem;
}
/* End secrion */

/* Download */
.cards {
  display: flex;
  flex-direction: row;
  gap: var(--default-padding);
  width: 100%;
  justify-content: space-between;
  margin-top: calc(var(--default-padding) * 2);
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 26rem;
  text-align: center;
  border-radius: var(--default-radius);
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: calc(var(--default-padding) * 2) var(--default-padding)
    var(--default-padding);

  @media (max-width: 600px) {
    width: 100%;
  }
  &__image {
    align-self: center;
    margin-bottom: calc(var(--default-padding) / 2);
    width: 6rem;
    border-radius: var(--default-radius);
  }
  &__title {
    font-size: 1.8rem;
  }
  &__button {
    position: relative;
    margin-top: auto;
    align-self: stretch;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      background: url("../images/bg-dots.svg");
      top: calc(var(--default-padding) * -1.4);
      left: calc(var(--default-padding) * -1);
      right: calc(var(--default-padding) * -1);
      height: 0.3rem;
      background-size: contain;
    }
  }
}
/* End download */

/* faq */
.faq {
  margin-top: calc(var(--default-padding) * 1.5);
  max-width: 50rem;
  border-top: 1px solid var(--color-grayish-blue);
  border-bottom: 1px solid var(--color-grayish-blue);

  &__row {
    position: relative;
    padding: var(--default-padding) 0;
  }
  &__row:not(:last-of-type) {
    border-bottom: 1px solid var(--color-grayish-blue);
  }

  &__input {
    display: none;

    &:checked ~ .faq__answer {
      opacity: 1;
      max-height: 30rem;
      padding-top: var(--default-padding);
    }

    &:checked ~ .faq__arrow {
      transform: rotate(180deg);
    }
  }
  &__question {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
  }

  &__answer {
    font-weight: 400;
    font-size: 1.4rem;
    opacity: 0;
    transition: all var(--timing-animation) ease-in-out;
    max-height: 0.1rem;
    overflow: hidden;
  }
  &__arrow {
    width: 1.2rem;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: calc(var(--default-padding) + 0.6rem);
    transition: transform var(--timing-animation) ease-in-out;
    cursor: pointer;
  }
}
/* End faq */

/* footer */
.footer {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--color-off-white);
  padding: var(--default-padding) 0;
  justify-content: center;
  font-size: 1.4rem;
  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-very-dark-blue);
    z-index: -1;
  }
  &__left {
    display: flex;
    gap: var(--default-padding);
    margin-right: auto;
    @media (max-width: 600px) {
      margin-right: 0;
    }
  }
}
/* End footer */
